description "flanneld service"

start on runlevel [2345]
stop on runlevel [!2345]

exec /usr/bin/flanneld \
	-v=1 \
	-etcd-endpoints={{ etcd_endpoint }} \
	-etcd-prefix=/coreos.com/network \
	-logtostderr=true
