description "kubernetes kubelet"

start on runlevel [2345]
stop on runlevel [!2345]

limit nofile 20000 20000

kill timeout 60

# --cloud-config="/etc/clc/clc.conf" \
# --cloud-provider="clc" \

exec kubelet \
	--address=0.0.0.0 \
	--allow-privileged={{ allow_privileged }}\
	--api-servers={{ apiserver_endpoint }} \
	--cadvisor-port=4194 \
	--cluster-dns={{ cluster_dns_service_vip }} \
	--cluster-domain={{ cluster_dns_domain }} \
	--config="/etc/kubernetes/manifests" \
	--hostname-override={{ ansible_ssh_host }} \
	--kubeconfig="/var/lib/kubelet/kubeconfig" \
	--max-pods={{ kubelet_max_pods }} \
	--register-node=true \
	--serialize-image-pulls=false
