description "kubelet service"
author "mark ramach"

script

	KUBELET_OPTS="\
		--address=0.0.0.0 --api-servers={{ apiserver_endpoint }} \
		--allow-privileged={{ allow_privileged }}\
		--cadvisor-port=4194 \
		--cluster-dns={{ cluster_dns_service_vip }} \
		--cluster-domain={{ cluster_dns_domain }} \
		--hostname-override={{ ansible_ssh_host }} \
		--kubeconfig="/var/lib/kubelet/kubeconfig"\
		--serialize-image-pulls=false\
		"

	exec kubelet $KUBELET_OPTS > /var/log/kubelet.log

end script
